body {
    background: url('../img/bg-cinema.jpg'), black;
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: top center;
}

.main-login {
    display: grid;
    grid-template-columns : repeat(auto-fit, minmax(160px, 1fr));
    grid-template-rows: autot;
    column-gap: 5px; 
    padding: 5em 1.5em;
}

.advantages {
    background-color: rgba(242, 245, 102, 0.7);
}

.login {
    background-color: rgba(242, 245, 102, 0.7);
}

.sign-in {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    display: block;
    font-family: Roboto-Regular;
}

form input[type='text'],
form input[type='email'] {
    width: 95%;
    font-size: 1.1rem;
}
  
input[type='submit'] {
    padding: 0.5rem;
    font-size: 1.1rem;
    min-width: 10rem;
    border-radius: 20px;
    border: 0;
    background: linear-gradient(to right, rgb(235, 105, 105), rgb(231, 57, 57), rgb(226, 14, 14));
  }
  
.list-advantages > .ad1 {
    justify-content: center;     
    font-family: Roboto-Bold;
    /* list-style: none; */
    list-style-image: url('../img/film-list.gif'); 
    padding: 1px 1px;
}

.list-advantages > .ad2 {
    font-family: Roboto-Thin;
    list-style: none;
}

.login-data p {
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.login-data a {
    text-decoration: none;
    color: gray;
}

@media (min-width: 768px) {


}


