.main {
    position: absolute;
    top: calc(var(--navbar-height)*1);
    left: 0;
}

.filmcard {
    justify-items: center;
    height: var(--navbar-height); 
    font-size: x-large;
    margin-top: calc(var(--navbar-height) * 1.5);
    margin-bottom: calc(var(--navbar-height) * 0.5);
}

.section  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: fit-content;
    border: none; 
    overflow: scroll; 
    padding: 4px;
} 

.film {
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,175px));
    grid-template-areas: repeat(auto-fit,auto);
    grid-template-areas: "film synop synop" "film synop synop" "casting casting casting";
    min-width: calc(100vw * 0.5);
    max-width: calc(100vw * 0.95);
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px; 
    border: none; 
    overflow: hide; 
}

.img {
    grid-area: film;
    width: var(--width-img-small);
    height: var(--height-img-small); 
    background-size: cover;
    background-position: center; 
}

.vdo {
    grid-area: film;
    width: var(--width-img-small);
    height: var(--height-img-small); 
    margin: 0;
}

figcaption {
    font-family: light;
    font-size: x-small;
    color: white;
}

.casting {
    grid-area: casting;
    background: rgba(255,255,255,0.1);
    color: white;
}

.synop {
    grid-area: synop;
    background: rgba(255,255,255,0.1);
    color: white;
    height: var(--height-img-small); 
}

#proposal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    flex: 0 1 auto;
    justify-content: flex-start;
    align-content: space-between;
}

.imgp {
    width: var(--width-img-small);
    height: var(--height-img-small);
    margin-right: 4px;
}

.casting .synopsis {
    font-family: Roboto-light;
    font-size: small;
    padding: 1px;
    overflow: scroll;
}

@media (min-width: 768px) {
   
    .filmcard {
        font-size: xx-large;
    }

    .film {
        max-width: calc(var(--width-img-big) * 4);
    }

    .img, .imgp {
        width: var(--width-img-big); 
        height: var(--height-img-big);
    }

    .synop {
        height: var(--height-img-big); 
    }

    .vdo {
        width: var(--width-img-big);
        height: var(--height-img-big); 
    }
   
}