.main {
    position: absolute;
    top: calc(var(--navbar-height)*3);
    left: 0;
}

.section {
    padding: 10px;
}

.tittle {
    justify-items: center;
    position: absolute; 
    top: var(--navbar-height);
    left: 0;
    height: var(--navbar-height);
    margin-left: 10px;
}

.listfilms  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: fit-content;
    border: none; 
    overflow: scroll; 
    padding: 4px;
} 

.film {
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,175px));
    grid-template-areas: repeat(auto-fit,auto);
    grid-template-areas: "film synop synop" "film synop synop" "casting casting casting";
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    gap: 5px; 
    border: none; 
    overflow: hide; 
}

.img {
    grid-area: film;
    width: var(--width-img-small);
    height: var(--height-img-small); 
    background-size: cover;
    background-position: center; 
}

.casting {
    grid-area: casting;
    background: rgba(255,255,255,0.1);
    color: white;
    font-family: Roboto-Light;
    font-size: small;
    padding: 4px;
}

.synop {
    grid-area: synop;
    background: rgba(255,255,255,0.1);
    color: white;
    height: var(--height-img-small); 
    font-family: Roboto-Light;
    font-size: small;
    padding: 4px; 
    overflow: scroll; 
}

#proposal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    flex: 0 1 auto;
    justify-content: flex-start;
    align-content: space-between;
}

.imgp {
    width: var(--width-img-small);
    height: var(--height-img-small);
    margin-right: 4px;
}

.casting .synopsis {
    font-family: Roboto-light;
    font-size: small;
    padding: 1px;
}

@media (min-width: 768px) {
   
    .casting {
       /*  grid-area: casting;
        width: calc(var(--width-img-big)*2.95); 
        height: var(--height-img-big); */
    }
    
    .imgp {
        width: var(--width-img-big); 
        height: var(--height-img-big);
    }
    
   
}