body {
    background-color: var(--dark-color);
}

.main {
    background: url('../img/bg-cinema.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: top center;
    max-width: 100%;
}

.main-login {
    display: grid;
    grid-template-columns : repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows: auto;
    justify-content: center;
    align-content: center; 
    column-gap: 5px; 
    row-gap: 5px;
    padding: 5em 1.5em;
}

.advantages, .login {
    background-color: rgb(238, 238, 135);
    border-radius: 10px;
}

.sign-in {
    width: 100%;
    display: flex;
    justify-content: center;
}

form label {
    display: block;
    font-family: Roboto-Regular;
}

form input[type='email'],
form input[type='password'] {
    width: 95%;
    font-size: 1em;
}

.login-data .remember {
    font-size: 15px;
}
  
input[type='submit'] {
    padding: 0.5rem;
    font-size: 1.1rem;
    min-width: 10rem;
    border-radius: 10px;
    border: 0;
    background: linear-gradient(to right, rgb(235, 105, 105), rgb(231, 57, 57), rgb(226, 14, 14));
  }

.list-advantages > .ad1 {
    justify-content: center;     
    font-family: Roboto-Black;
    font-size: 25px;
    list-style: none; 
    list-style-image: url('../img/star-with-five-points.png');  
    padding: 5px;
}

.list-advantages > .ad2 {
    font-family: Roboto-Regular;
    font-size: medium;
    list-style: none;
    color: red;
}

.login-data p {
    padding-top: 0.5em;
    padding-left: 0.5em;
}

.conditions {
    font-size: 12px;
}


.login-data a {
    text-decoration: none;
    color: red;
}

.footer {
    background: var(--dark-color);
}

@media (min-width: 768px) {

    .main-login, .footer {
        max-width: var(--max-width);
    }
}


