* {
    font-family: Roboto-Regular, Arial, Helvetica, Times, Sans-Serif; 
}

:root {
    --max-width: 940px;
    --navbar-height: 50px;
    --navbar-color: rgba(211,211,211,0.85);
    --background-color-768: linear-gradient(to right,rgb(75, 71, 71),rgb(158, 30, 30),rgb(48, 4, 4));
    --background-color-mob: rgb(116, 17, 17); 
    --dark-color: rgb(0, 0, 0);
    --width-img-small: 120px;
    --height-img-small: 190px;
    --height-nav-small: 225px;
    --width-img-big: 175px;
    --height-img-big: 225px;
    --height-nav-big: 250px;
}

body {
    overflow-x: hidden; 
}

.main {
    max-width: var(--max-width); 
    margin: 0;
} 

.section {
    padding: 3rem 1rem;
}

h1 {
    font-family: Roboto-Black, Arial, Helvetica, sans-serif;
 }
  
h2, h3, h4, h5, h6 {
    font-family: Roboto-Regular, Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Roboto-Thin;
    src: url('../fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: Roboto-Light;
    src: url('../fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-Black;
    src: url('../fonts/Roboto-Black.ttf');
}

  